cloud_id        = "b1g25m4if1on6agmqep5"
folder_id       = "b1gtppfap19rcjbm2f9r"
zone            = "ru-central1-a"
# image id Ubuntu2204
image_id        = "fd8ejsdle3sqfpsgmqeh"
# family_id Ubuntu2204
# family_id       = "ubuntu-2204-lts-oslogin"
# image id Packer HW
# image_id        = "fd84f9abj10n8abqs8f0"
public_key_path = "/home/raskin/.ssh/appuser.pub"
# private_key              = "/home/raskin/.ssh/appuser"
# network_id               = "enp1j6do5ns9uujsv6cc"
subnet_id                = "e9bc6g949kntuh0bp9uv"
service_account_key_file = "/home/raskin/key.json"
# app_disk_image           = "fd8844dstum65khv5shi"
# db_disk_image            = "fd8rejcp5nmmep7r1msr"
